<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login</title>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet" />
    <!-- Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
</head>
<body class="bg-image-login">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="card z-depth-5 my-5">
                    <div class="card-content">
                        <h5 class="center-align mb-5">Log In</h5>
                        <form id="loginForm" method="POST" action="{{ url_for('profile_skintype') }}">
                            <div class="input-field">
                                <input type="text" id="username" name="username" class="validate" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                                <label for="username">Username</label>
                                <span class="helper-text" data-error="Invalid username" data-success="Valid"></span>
                            </div>
                            <div class="input-field">
                                <input type="password" id="password" name="password" class="validate" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                                <label for="password">Password</label>
                                <span class="helper-text" data-error="Invalid password" data-success="Valid"></span>
                            </div>
                            <div class="input-field">
                                <button class="btn waves-effect waves-light btn-large" type="submit">Sign in</button>
                            </div>
                            <div class="row">
                                <div class="col s12 center-align">
                                    <p>Don't have an account?
                                        <a href="{{ url_for('register') }}" class="blue-text text-darken-2">Register Account</a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
