{% extends "profile.html" %}

{% block title %}
    Routine
{% endblock %}

<section class="section center-align">
    <div class="container">
        {% block content %}
        <!-- Display Calendar -->
        <h6>Skincare Entry History</h6>
        <div class="calendar row">
            {% for date, day_entries in entries_by_date.items() %}
            <div class="col s12 m6 l4 xl3">
                <div class="card hoverable calendar-day">
                    <div class="card-content">
                        <span class="card-title">{{ date.strftime('%d %b %Y') }}</span>
                        {% for entry in day_entries %}
                        <p><strong>{{ entry.skincare_step }}</strong></p>
                        <p>{{ entry.product_name }}</p>
                        <p><em>{{ entry.time_of_day }}</em></p>
                        <div class="row">
                            <form method="POST" action="{{ url_for('delete_entry', entry_id=entry._id) }}" style="display:inline;">
                                <button type="submit" class="btn waves-effect waves-light red">
                                    <i class="material-icons">delete</i> DELETE
                                </button>
                            </form>

                            <form method="GET" action="{{ url_for('edit_entry', entry_id=entry._id) }}" style="display:inline;">
                                <button type="submit" class="btn waves-effect waves-light blue">
                                    <i class="material-icons">edit</i> EDIT
                                </button>
                            </form>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endblock %}
    </div>
</section>
