<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Selection</title>
    <!-- Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h4>Welcome, {{ session['user'] }}</h4>
    <h5>Please select your skin type from the list below:</h5>
    <div class="container">
        <form id="SkinTypeForm" class="col s12 m8 offset-m2" method="POST" action="{{ url_for('profile_skintype') }}">
                    <input name="group1" type="radio" value="Oily" checked />
                    <span>Oily</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="group1" type="radio" value="Dry" />
                    <span>Dry</span>
                </label>
            </p>
            <p>
                <label>
                    <input class="with-gap" name="group1" type="radio" value="Combination" />
                    <span>Combination</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="group1" type="radio" value="Sensitive" disabled="disabled" />
                    <span>Sensitive</span>
                </label>
            </p>
            <div class="input-field">
                <button class="btn waves-effect waves-light" type="submit">Next</button>
            </div>
        </form>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>

